body {
  margin: 0;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* VERY IMPORTANT */
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
